body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333333;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #808080;
}

/* Style for the page header */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
}

header h1 {
  margin: 0;
}

